
/*****************
	Form Elements
*/

#{$all-text-inputs},
textarea {
	@extend %heading-typeface; 
	@include transition (border 0.2s ease-in-out); 
-webkit-appearance: none;
		appearance: none;
	background: $base-colour;
	border: 2px solid transparentize($bg-colour, 0.6); 
	border-radius: 0;
	color: $bg-colour;
	display: block;
	font-size: em(18);
	margin: 0 0 0.75em;
	outline: none;
	padding: 9px 12px;
	width: 100%;
	
	@include placeholder {
		color: $bg-colour;
	}
}

fieldset {
	border: none;
	border-bottom: 1px solid transparentize($bg-colour, 0.6); 
	margin: 0 0 1.5em;
	padding: 0 0 0.75em;
}

label {
	@extend %heading-typeface; 
	color: $bg-colour;
	display: block;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

textarea {
	height: 5em;
	resize: none;
}

#{$all-text-inputs-focus},
textarea:focus { 
	border: 2px solid $bg-colour;
}

input[type="submit"] {
	@extend .button;
	background: $bg-colour;
	color: $base-colour;
	outline: none;
}
