
footer {
	background: $base-colour;
	margin: $vertical-margin 0 0;
	padding: 40px $container-padding;
	
	p {
		@extend %heading-typeface;
		color: $bg-colour;
		font-size: em(14);
		margin-bottom: 1.5em;
		max-width: 800px;
		
		&:last-child {
			margin: 0;
		}
		
		a {
			color: $bg-colour;
			border-width: 1px;
			border-color: transparentize($bg-colour, 0.6);
		}
		
		a:hover {
			color: $bg-colour;
			border-width: 1px;
			border-color: transparentize($bg-colour, 0.3);
		}
	}
}