

.contact-form {
	display: none;
}

.mobile-nav {
	display: none;
}


header {
	padding: $vertical-margin $container-padding 0;
	
	.container {
		border-bottom: 1px solid $border-colour;
		margin-bottom: $vertical-margin;
		padding-bottom: $vertical-margin;
	}

	h1 {
		float: left;
		font-size: 0px;
		margin: 0;
		text-indent: -9999px;
		width: 15%;
	}

	.logo a {
		@include size(100px);
		background: url('../img/flat-j.png');
		background-size: contain;
		display: block;
	}

	nav {
		float: right;
		margin-left: 5%;
		padding-top: 45px;
		width: 80%;
		
		ul {
			text-align: right;
		}
		
		li {
			@extend %heading-typeface;
			font-size: em(14);
			margin: 0 0 0 20px;
		}
		
		a {
			color: $body-colour;
			border: none;
			padding-bottom: 5px;
			
			&:hover {
				border: none;
				color: $base-colour;
			}
		}
		
		.active {
			border-bottom: 2px solid $base-colour;
			color: $base-colour;
			
			&:hover {
				border-bottom: 2px solid $base-colour;
			}
		}
	}

}