

.mobile-nav {
	display: none;
}


header {
	padding: $vertical-margin $container-padding 0;
	
	.container {
		border-bottom: 1px solid $border-colour;
		margin-bottom: $vertical-margin;
		padding-bottom: $vertical-margin;
	}

	h1 {
		float: left;
		font-size: 0px;
		margin: 0;
		text-indent: -9999px;
		width: 15%;
	}

	.logo a {
		@include size(100px);
		background: url('../img/flat-j.png');
		background-size: contain;
		display: block;
	}

	nav {
		float: right;
		margin-left: 5%; 
		padding-top: 45px;
		width: 80%;
		
		ul {
			text-align: right;
		}
		
		li {
			@extend %heading-typeface;
			font-size: em(14);
			margin: 0 0 0 20px;
		}
		
		a {
			color: $body-colour;
			border: none;
			padding-bottom: 5px;
			
			&:hover {
				border: none;
				color: $base-colour;
			}
		}
		
		.active {
			border-bottom: 2px solid $base-colour;
			color: $base-colour;
			
			&:hover {
				border-bottom: 2px solid $base-colour;
			}
		}
	}

}

.open-nav-btn {
	display: none;
}

.social-link {
	font-size: 0px;
	text-indent: -9999px;
}
 
.cssmask.cssanimations header {

	.logo a {
		@include animation(shift-bg 78.0s infinite);
		background-image: url('../img/j-mask.png');
		background-size: auto;
			mask: url('../img/j.png');
	   -moz-mask: url('../img/j.png');
		-ms-mask: url('../img/j.png');
		 -o-mask: url('../img/j.png');
	-webkit-mask: url('../img/j.png');
	}
}



.contact-form {
	@include transition (all 0.3s ease-in-out);
	@include transform(translateY(-100%));
	@include position(absolute, 0px null null null);
	background: transparentize($base-colour, 0.05);
	display: block;
	padding: 40px $container-padding 0;
	width: 100%;
	z-index: 3;
	
	p {
		color: $bg-colour;
		font-size: em(20);
		margin: 0 0 1em;
	}
}

.open-contact-form .contact-form {
	@include transform(translateY(0));
}




