
/********
	Work
*/

.work {
	
	section{ 
		@include clearfix;
		margin-bottom: $vertical-margin;
	}
	
	aside {
		float: left;
		margin-right: 5%;
		width: 50%;
	}
	
	figure {
		float: right;
		text-align: right;
		width: 45%;
		
		img {
			width: auto;
			max-width: 100%;
		}
	}
	
	h2 {
		border-bottom: 1px solid $border-colour;
		margin-bottom: 0;
		padding-bottom: 0.5em;
		width: 50%;
	}
	
	h3 {
		
		a {
			color: $body-colour;
			border: none;
			
			&:hover {
				color: $base-colour;
			}
		}
	}
	
	p.partner {
		@extend .small-title;
		margin: 1.5em 0 0;
	}
	
	p {
		
	}
}