
/********
	Work
*/

.work {
	
	section{ 
		@include clearfix;
	}
	
	aside {
		float: left;
		margin-right: 5%;
		width: 70%;
	}
	
	figure {
		float: right;
		text-align: right;
		width: 25%;
	}
	
	h2 {
		border-bottom: 1px solid $border-colour;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
	}
	
	h3 {
		
	}
	
	p.partner {
		@extend .small-title;
		margin: 1.5em 0 0;
	}
	
	p {
		
	}
}