


// Animate identity 
@include keyframes(shift-bg) {
	0% {
		background-position-x: 0;
	}
	50% {
		background-position-x: 430px;
	}
	100% {
		background-position-x: 0;
	}
}



// Move identity up
.move-on-up-now {
	@include animation(moveup 0.3s ease-in-out 1);
}

@include keyframes(moveup) {
	0% {
		@include transform(translateY(0px));
	}
	50% {
		@include transform(translateY(-5px));
	}
	100% {
		@include transform(translateY(0px));
	}
}



// Move identity down
.get-on-down {
	@include animation(getondown 0.3s ease-in-out 1);
}

@include keyframes(getondown) {
	0% {
		@include transform(translateY(0px));
	}
	50% {
		@include transform(translateY(5px));
	}
	100% {
		@include transform(translateY(0px));
	}
}




// Animate mobile navigation 
@include keyframes(nav-in) {
	0% {
		@include transform(translateX(100%));
	}
	80% {
		@include transform(translateX(-20%));
	}
	100% {
		@include transform(translateX(0%));
	}
}