@if $bourbon-neat == true {
	@include media($mobile) {

		body {
			-webkit-text-size-adjust: none;
		}

		.mobile {
			display: block;
		}

		.desktop {
			display: none;
		}

		.button {
			background: $base-colour;
			color: $bg-colour;
			display: block;
			margin-bottom: 1em;
			text-align: center;
			width: 100%;
		}

		.button + .button {
			margin-left: 0;
			margin-top: 20px;
		}

		input[type="submit"] {
			background: $bg-colour;
			color: $base-colour;
		}

		nav.mobile-nav {
			@include transition (all 0.3s ease-in-out);
			@include transform(translateX(-100%));
			@include position(absolute, 0px null null 0px);
			background: transparentize($base-colour, 0.05);
			display: block;
			width: 100%;
			z-index: 2;

			 ul {
			 	padding: 20px 20px 0;
			 	margin: 0;
			 }

			 li {
			 	font-family: $armata;
				font-size: em(14);
				letter-spacing: 0.05em;
				margin-bottom: 1.5em;
				text-transform: uppercase;
			 }

			a {
				color: $bg-colour;
			}
		}

		// Mobile contact form
		.contact-form {
			padding: 20px $container-padding 0;

			p {
				color: $bg-colour;
				font-size: em(16);
				margin: 0 0 1em;
			}
		}

		fieldset {
			margin: 0 0 1.25em;
			padding: 0;
		}

		#{$all-text-inputs},
		textarea {
			font-size: em(16);
		}

		textarea {
			line-height: 1.2;
		}

		input[type="submit"] {
			border-radius: 0;
		}

		.open-nav nav.mobile-nav {
			@include transform(translateX(0%));
		}

		.open-nav-btn {
			@include transition (all 0.3s ease-in-out);
			@include size(30px);
			background: url('../img/menu.png') no-repeat center center $base-colour;
			display: block;
			float: right;
			margin-top: 13px;
			text-indent: -9999px;
		}

		.svg .open-nav-btn {
			@include size(40px);
			background: url('../img/menu.svg') no-repeat center center $base-colour;
			background-size: 25px 25px;
		}

		p {
			font-size: em(16);
			line-height: 1.6;
			margin: 0 0 25px;
		}

		h1 {
			font-size: em(42);
			line-height: 1.1;
			margin: 0 0 40px;
		}

		h2 {
			font-size: em(30);
		}

		h3 {
			font-size: em(23);
		}

		h4 {
			font-size: em(20);
		}

		h5 {
			font-size: em(16);
		}

		h6 {
			font-size: em(16);
		}

		blockquote {
			font-size: em(16);
			line-height: 1.7;
			margin: 0 0 40px;
			padding: 0 0 0 20px;
		}

		.small-title {
			font-size: em(14);
		}

		header {
			padding: $container-padding $container-padding 0;

			.container {
				margin-bottom: 30px;
				padding-bottom: 20px;
			}

			h1 {
				float: left;
				font-size: 0px;
				margin: 0 auto;
				text-indent: -9999px;
			}

			.logo a {
				@include size(65px);
				background: url('../img/flat-j.png');
				background-size: 65px 65px;
				display: block;
			}

			nav {
				display: none;
			}
		}

		.open-nav-btn {
			@include size(30px);
			background-color: $base-colour;
			display: block;
			float: right;
			margin-top: 10px;
			text-indent: -9999px;
		}

		.cssmask.cssanimations header {

			.logo a {
				@include size(65px);
				background-size: auto 65px;
					mask-size: 65px;
			   -moz-mask-size: 65px;
				-ms-mask-size: 65px;
				 -o-mask-size: 65px;
			-webkit-mask-size: 65px;
			}
		}

		.work {

			h2 {
				padding-bottom: 0;
			}

			aside {
				border-top: none;
			}

			figure {
				margin: 0 0 20px;
			}

			h2,
			h3,
			p.partner,
			p.role,
			.role-list,
			p {
				margin: 0 0 20px;
				text-align: center;
				width: 100%;
			}

			.role-list {
				margin: 2px 0 25px;
				padding-left: 0;
				position: relative;

				&:before {
					display: none;
				}
			}

			p {
				text-align: left;
			}

			p.partner,
			p.role {
				margin-bottom: 0;
			}
		}
		
		.container.masonry-feed {
			
			li.masonry-item {
				width: 100%;
				
				&.small { 
					width: 100%;
				}
			}
		}

		footer {
			margin: 0;
			padding: 25px $container-padding;
		}


	}
}