@if $bourbon-neat == true {
	@include media($mobile) {

		body {
			-webkit-text-size-adjust: none;
		}

		.mobile {
			display: block;
		}

		.desktop {
			display: none;
		}

		.button {
			background: $base-colour;
			color: $bg-colour;
			display: block;
			margin-bottom: 1em;
			text-align: center;
			width: 100%;
		}

		.button + .button {
			margin-left: 0;
			margin-top: 20px;
		}

		input[type="submit"] {
			background: $bg-colour;
			color: $base-colour;
		}

		nav.mobile-nav {
			@include transition (all 0.3s ease-in-out);
			@include transform(translateX(-100%));
			@include position(absolute, 0px null null 0px);
			background: transparentize($base-colour, 0.05);
			display: block;
			width: 100%;
			z-index: 2;

			ul {
			 	padding: 20px 20px 0;
			 	margin: 0;
			}

			li {
			 	font-family: $armata;
				font-size: em(14);
				letter-spacing: 0.05em;
				margin-bottom: 1.5em;
				text-transform: uppercase;
			}

			a {
				color: $bg-colour;
			}
		}

		// Mobile contact form
		.contact-form {
			padding: 20px $container-padding 0;

			p {
				color: $bg-colour;
				font-size: em(16);
				margin: 0 0 1em;
			}
		}

		fieldset {
			margin: 0 0 1.25em;
			padding: 0;
		}

		#{$all-text-inputs},
		textarea {
			font-size: em(16);
		}

		textarea {
			line-height: 1.2;
		}

		input[type="submit"] {
			border-radius: 0;
		}

		.open-nav nav.mobile-nav {
			@include transform(translateX(0%));
		}

		.open-nav-btn {
			@include transition (all 0.3s ease-in-out);
			@include size(30px);
			background: url('../img/menu.png') no-repeat center center $base-colour;
			display: block;
			float: right;
			margin-top: 13px;
			text-indent: -9999px;
		}

		.svg .open-nav-btn {
			@include size(40px);
			background: url('../img/menu.svg') no-repeat center center $base-colour;
			background-size: 25px 25px;
		}

		p {
			font-size: em(16);
			line-height: 1.6;
			margin: 0 0 25px;
		}

		h1 {
			font-size: em(36);
			line-height: 1.1;
			margin: 0 0 40px;
		}

		h2 {
			font-size: em(24);
		}

		h3 {
			font-size: em(21);
		}

		h4 {
			font-size: em(18);
		}

		h5,
		h6 {
			font-size: em(16);
		}

		blockquote {
			font-size: em(16);
			line-height: 1.7;
			margin: 0 0 40px;
			padding: 0 0 0 20px;
		}

		.small-title {
			font-size: em(14);
		}

		header {
			padding: $container-padding $container-padding 0;

			.container {
				margin-bottom: 30px;
				padding-bottom: 20px;
			}

			h1 {
				float: left;
				font-size: 0px;
				margin: 0 auto;
				text-indent: -9999px;
			}

			.logo a {
				@include size(65px);
				background: url('../img/flat-j.png');
				background-size: 65px 65px;
				display: block;
			}

			nav {
				display: none;
			}
		}

		.open-nav-btn {
			@include size(30px);
			background-color: $base-colour;
			display: block;
			float: right;
			margin-top: 10px;
			text-indent: -9999px;
		}

		.cssmask.cssanimations header {

			.logo a {
				@include size(65px);
				background-size: auto 65px;
					mask-size: 65px;
			   -moz-mask-size: 65px;
				-ms-mask-size: 65px;
				 -o-mask-size: 65px;
			-webkit-mask-size: 65px;
			}
		}

		.container.masonry-feed {
			
			h1 {
				text-align: left;
			}
			
			h2 {
				background: transparent;
				color: $base-colour;
				font-size: em(24);
				margin-bottom: 0.75em;
				padding: 0;
			}
			
			img {
				order: 2;
				-webkit-order: 2;
			}
			
			.button {
				order: 3;
				-webkit-order: 3;
				@include transform(translateX(0%));
				margin: 0;
				opacity: 1;
				position: static;
			}
			
			.copy-container {
				order: 1;
				-webkit-order: 1;
				position: static;
				
				aside {
					display: none;
				}
			}
		}
		
		li.masonry-item {
			@include display(flex);
			@include flex-direction(column);
			background: transparent;
			border-bottom: 1px solid transparentize($base-colour, 0.7); 
			margin-bottom: 1.25em;
			padding-bottom: 1.5em;
			
			&:hover {
				
				aside {
					@include transform(translateX(0));
				}
				
				img {
					@include transform(scale(1)translateY(0));
					opacity: 1;
				}
			}
		}
				
		.main-content.work {
			padding: 0 20px;
		}

		footer {
			margin: 0;
			padding: 25px $container-padding;
		}


	}
}