@if $bourbon-neat == true {
	@include media($tablet) {

		.work {

			section{
				@include display(flex);
				@include flex-direction(column);

				margin-bottom: $vertical-margin;
			}

			aside {
				@include span-columns(6);
				@include order(2);
			}

			figure {
				@include span-columns(6);
				@include order(1);

				img {
					width: 100%;
				}
			}
		}

		
		.container.masonry-feed {
			
			li.masonry-item {
				width: 100%;
				
				&.small { 
					width: 100%;
				}
			}
		}

	}
}