@if $bourbon-neat == true {
	@include media($tablet) {
		
		.work {
			
			section{ 
				@include clearfix;
				
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: flex;
				@include flex-direction(column);
				
				margin-bottom: $vertical-margin;
			}
			
			aside {
				float: none;
				margin-right: 0;
				width: 100%;
				
				@include order(2);
			}
			
			figure {
				float: none;
				text-align: left;
				width: 100%;
				
				@include order(1);
			}
		}
		
	}
}