
/********
	Work
*/

.work {

	section{
		@include clearfix;
		margin-bottom: 80px;
	}

	aside {
		border-top: 1px solid $border-colour;
		@include span-columns(5);
	}

	figure {
		@include span-columns(7);

		img {
			border: 1px solid $border-colour;
			width: auto;
			max-width: 100%;
		}
	}

	h2 {
		margin-bottom: 0;
		padding-bottom: 0.5em;
	}

	h3 {
		margin-bottom: 1em;

		a {
			color: $body-colour;
			border: none;

			&:hover {
				color: $base-colour;
			}
		}
	}

	p {
		margin-bottom: 1.5em;
	}
}

p.partner,
p.role {
	@extend .small-title;
	margin: 2em 0 0;
}

.role-list {
	margin: 2px 0 1.5em;
	padding-left: 14px;
	position: relative;

	&:before {
		@include size(6px);
		@include position(absolute, 6px null null 0px);
		background: $base-colour;
		content: '';
		border-radius: 6px;
	}

	li {
		@extend %heading-typeface;
		color: $base-colour;
		font-size: em(13);
		text-transform: uppercase;
		margin-left: 3px;

		&:after {
			content: ',';
			margin-left: -4px;
		}

		&:first-child {
			margin: 0;
		}

		&:last-child:after {
			content: '';
		}
	}
}


